.txtDanger{
    color: red;
    font-size: 30px;
    background-color: rgba(21, 180, 208, 0.204);
}
.txtSuccess{
    color: green;
    font-size: 20px;
    background-color: rgba(208, 199, 21, 0.796);
}
.myform{
    border: 3px solid blue;
    width: 400px;
    margin: auto;
    border-radius: 9px;
    padding: 12px;
    box-shadow: 10px 10px 2px black;
}